@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Steppe';
  src: url("/src/fonts/Steppe/OpenType-PS/Steppe.otf");
  /* IE9 Compat Modes */
  src: url("/src/fonts/Steppe/OpenType-TT/Steppe.ttf") format("embedded-opentype"), url("/src/fonts/Steppe.woff") format("woff"), url("/src/fonts/Steppe.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Steppe';
}

.App {
  text-align: center;
  background: #080615;
  color: #BAB3D2;
  overflow: hidden;
}

/* light */

.header-light {
  background: #348ADF;
  filter: blur(350px);
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 300px;
}

.begin-light {
  background: #348ADF;
  filter: blur(250px);
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  height: 300px;
}

.youtube iframe {
  width: 100%;
}

.line-success {
  background-image: url('/src/img/line.png');
  background-size: 7%;
  background-repeat: no-repeat;
  /* background-position: top; */
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* border-radius: 50px; */
}

@media(max-width:1023px) {
  .line-success {
    background-size: 20%;
  }
}